<div class="footer">
  <footer>
    <!-- New container for the built text and ref icons -->
    <div class="built-info">
      <p>Built by Muhammed Ismail &copy; 2025</p>
      <div class="links">
        <a href="https://github.com/ismail-izu">
          <img src="assets/icons/githubLight.svg" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/ismail-s-373b2a20b/">
          <img src="assets/icons/linkedinLight.svg" alt="Linkedin">
        </a>
      </div>
    </div>
    <hr class="ruler">
    <span class="made-with">
      Made with 
      <a href="https://angular.dev/">
        <img class="angular-logo" src="assets/icons/angularLight.svg" alt="Angular"> (Angular)
      </a>
    </span>
  </footer>
</div>
