.footer {
    background-color: #18181B;
    color: #fffefe;
    padding: 3rem 2rem;
    text-align: center;

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        padding: 1rem 0;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 1rem;
        line-height: 1.5;
    }

    .links {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        a {
            font-size: 1.5rem;
            color: #fff;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
                aspect-ratio: 1;
            }
        }
    }

    // Style for the horizontal line
    .ruler {
        border-color: #e2e2e29f;
        width: auto; // Automatically adjust based on parent width
        margin: 1rem 0;
        align-self: center;
        height: 1px;
        border: none;
        background-color: #e2e2e29f;

        // Make sure it takes only the width of the footer-top
        width: calc(100% - 4rem); // Adjust padding to match footer-top width
        max-width: 1200px; // Ensures it doesn’t exceed the content width
    }

    span {
        display: block;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}
