.footer {
  background-color: #18181B;
  color: #fffefeea;
  padding: 3rem 2rem;
  text-align: center;

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* New container for built text and icons, placed above the hr */
  .built-info {
    width: 100%;
    max-width: 1200px;
    // padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
      text-align: left;
    }
  }

  .links {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a {
      font-size: 1.5rem;
      color: #fff;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        aspect-ratio: 1;
      }
    }
  }

  // Style for the horizontal line
  .ruler {
    border-color: #e2e2e29f;
    width: calc(100% - 4rem); // adjust width relative to padding
    max-width: 1200px;
    margin: 1rem 0;
    align-self: center;
    height: 0.5px;
    border: none;
    background-color: #e2e2e29f;
  }

  .made-with {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: #e2e2e29f;

    a {
      color: #e2e2e29f;
      text-decoration: none;

      .angular-logo {
        width: 17px;
        height: 17px;
        vertical-align: middle; /* aligns the logo with the text */
        margin: 0 0.2rem;
      }
    }
  }
}
