.footer {
  background-color: #18181B;
  color: #fffefeea;
  padding: 3rem 2rem;
  text-align: center;

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .built-info {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
      text-align: left;
    }
  }

  .links {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a {
      font-size: 1.5rem;
      color: #fff;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        aspect-ratio: 1;
      }
    }
  }

  .ruler {
    border-color: #e2e2e29f;
    width: calc(100% - 4rem);
    max-width: 1200px;
    margin: 1rem 0;
    align-self: center;
    height: 0.5px;
    border: none;
    background-color: #e2e2e29f;
  }

  .made-with {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: #e2e2e29f;

    a {
      color: #e2e2e29f;
      text-decoration: none;

      .angular-logo {
        width: 17px;
        height: 17px;
        vertical-align: middle;
        margin: 0 0.2rem;
      }
    }
  }
}

/* Responsive Styles for Mobile Screens */
@media (max-width: 768px) {
  .footer {
    padding: 2rem 1rem;

    footer {
      flex-direction: column;
    }

    .built-info {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;

      p {
        text-align: center;
      }
    }

    .links {
      gap: 1rem;

      a {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .ruler {
      width: 100%;
      margin: 1rem auto;
    }

    .made-with {
      font-size: 0.75rem;
      padding-bottom: 0.5rem;
    }
  }
}