<div class="about">
    <h1>About Me</h1>
    <div class="about-box">
        <p>
            Hi, I'm <b>Muhammed Ismail</b>, a passionate <b>Software Engineer</b> from India. My journey in the IT
            industry began in
            <b>2022</b> when I joined <b>Travancore Analytics Pvt Ltd</b>, and since then, I’ve been crafting innovative
            solutions
            across diverse projects.
        </p>
        <p>
            With a strong foundation in <b>software development</b> and a keen eye for problem-solving, I thrive on
            building
            efficient, scalable, and impactful applications. My curiosity led me to explore <b>Cloud Computing</b>,
            culminating
            in earning the <b>AWS Certified Cloud Practitioner certification</b>. This milestone not only strengthened
            my
            expertise in cloud technologies but also fueled my ambition to bridge the gap between software engineering
            and cloud solutions.
        </p>
        <p>
            Beyond code, you'll often find me immersed in books, exploring thought-provoking YouTube content, or
            engaging in meaningful conversations. I believe in continuous learning, staying curious, and embracing
            challenges that push me to grow—both professionally and personally.
        </p>
    </div>
</div>