<div class="about">
    <h1>About Me</h1>
    <p>
      Hi, my name is Muhammed Ismail, and I am a software engineer from India. I began my journey in the IT industry
      in 2022 after joining Travancore Analytics Pvt Ltd. Since then, I have had the opportunity to work on various
      projects.
    </p>
    <p>
      I have also earned the AWS Certified Cloud Practitioner certification, which not only provided me with a
      strong foundation in cloud computing but also opened the gateway to the world of cloud technology.
    </p>
    <p>
      In my free time, I enjoy immersing myself in books, exploring insightful YouTube videos, and socializing
      with friends.
    </p>
  </div>
  