<div class="skills">
    <h1>Skills</h1>
    <div class="card-container">
      <div class="card">
        <h4>Web Development</h4>
        <p>
          With 3 years of experience, I specialize in developing robust web APIs and applications using .NET Core, Angular. My expertise ensures efficient, scalable full-stack solutions, complemented by foundational exposure in React Native for mobile development and Three.js for creating interactive 3D web experiences.
        </p>
      </div>
      <div class="card">
        <h4>Cloud Computing</h4>
        <p>
          Holding an AWS Cloud Practitioner Certification, I have expanded my skill set into cloud computing. I possess foundational hands-on experience in provisioning AWS resources and deploying applications in cloud environments.
        </p>
      </div>
    </div>
    <h1>Work Experience</h1>
    <div class="card-container">
        <div class="work-card">
        <p>DEC 2022 - PRESENT</p>
        <h4>Software Engineer</h4>
        <a href="https://www.travancoreanalytics.com/">Travancore Analytics (P) Ltd</a>
        <div class="skill-box">
            <p>.Net Core</p>
            <p>Angular</p>
            <p>MySQL</p>
            <p>AWSL</p>
            <p>Three.js</p>
            <p>React-Native</p>
        </div>
        <p>Worked on a Medical application that efficiently retrieves patient data and images while leveraging advanced techniques to access DICOM study images from S3, complemented by a dynamic Angular frontend that effectively displays and visualizes the data for seamless integration and enhanced accessibility.</p>
        <p>Configured AWS resources for production deployments, gaining valuable hands-on expertise in cloud computing and AWS resource provisioning.</p>
        <p>Worked on a robust proof of concept (POC) that involved extending a 3D model's length and seamlessly joining two identical models to meet precise client specifications.</p>
        <p>Contributed to the comprehensive redesign of the HV AC mobile app's user interface, resulting in enhanced usability and increased user satisfaction through refined design elements and streamlined functionality.</p>
    </div>
  </div>
  