<div class="skills">
    <h1>Skills</h1>
    <div class="card-container">
      <div class="card">
        <h4>Web Development</h4>
        <p>
          With 3 years of experience, I specialize in developing robust web APIs and applications using .NET Core, Angular. My expertise ensures efficient, scalable full-stack solutions, complemented by foundational exposure in React Native for mobile development and Three.js for creating interactive 3D web experiences.
        </p>
      </div>
      <div class="card">
        <h4>Cloud Computing</h4>
        <p>
          Holding an AWS Cloud Practitioner Certification, I have expanded my skill set into cloud computing. I possess foundational hands-on experience in provisioning AWS resources and deploying applications in cloud environments.
        </p>
      </div>
    </div>
  </div>
  