<div class="skills">
    <h1>Skills</h1>
    <div class="card-container">
        <div class="card">
            <h4>Web Development</h4>
            <p>
                With 3 years of experience, I specialize in developing robust web APIs and applications using .NET Core,
                Angular. My expertise ensures efficient, scalable full-stack solutions, complemented by foundational
                exposure in React Native for mobile development and Three.js for creating interactive 3D web
                experiences.
            </p>
        </div>
        <div class="card">
            <h4>Cloud Computing</h4>
            <p>
                Holding an AWS Cloud Practitioner Certification, I have expanded my skill set into cloud computing. I
                possess foundational hands-on experience in provisioning AWS resources and deploying applications in
                cloud environments.
            </p>
        </div>
    </div>
    <h1>Work Experience</h1>
    <div class="work-card-container">
        <div class="work-card">
            <p class="date-range">DEC 2022 - PRESENT</p>
            <div class="details">
                <h4 class="job-title">Software Engineer</h4>
                <a class="company-link" href="https://www.travancoreanalytics.com/">Travancore Analytics (P) Ltd</a>
                <div class="skill-box">
                    <p class="skill">.Net Core</p>
                    <p class="skill">Angular</p>
                    <p class="skill">MySQL</p>
                    <p class="skill">AWS</p>
                    <p class="skill">Three.js</p>
                    <p class="skill">React Native</p>
                </div>
                <p class="description">
                    Built a patient management system using .NET Core to efficiently retrieve patient data and DICOM
                    images
                    from S3, complemented by an Angular frontend for seamless visualization.
                </p>
                <p class="description">
                    Configured AWS resources for production deployments, gaining valuable hands-on expertise in cloud
                    computing and AWS resource provisioning.
                </p>
                <p class="description">
                    Worked on a robust proof of concept (POC) that involved extending a 3D model's length and seamlessly
                    joining two identical models to meet precise client specifications.
                </p>
                <p class="description">
                    Revamped the HVAC mobile app interface to enhance usability and boost user satisfaction.
                </p>
            </div>
        </div>
        <div class="work-card">
            <p class="date-range">APR 2022 - NOV 2022</p>
            <div class="details">
                <h4 class="job-title">Software Engineer Trainee</h4>
                <a class="company-link" href="https://www.travancoreanalytics.com/">Travancore Analytics (P) Ltd</a>
                <div class="skill-box">
                    <p class="skill">HTML</p>
                    <p class="skill">CSS</p>
                    <p class="skill">JavaScript</p>
                    <p class="skill">Three.js</p>
                    <p class="skill">Kotlin</p>
                </div>
                <p class="description">
                    Contributed to a cross-functional team to design and implement a 3D configurator plugin for product
                    customization.
                </p>
                <p class="description">
                    Contributed to mobile UI enhancements for an existing application using Kotlin.
                </p>
                <p class="description">
                    Developed a streamlined Ekart application using Kotlin, incorporating essential e-commerce features
                    with
                    a user-friendly interface.
                </p>
            </div>
        </div>
    </div>
</div>