<div class="home">
    <h1>Muhammed Ismail</h1>
    <p>Full Stack Developer | AWS Cloud Practitioner Certified</p>
    <div class="links">
        <a href="https://github.com/ismail-izu"><img src="assets/icons/githubDark.svg" alt="Github"></a>
        <a href="https://www.linkedin.com/in/ismail-s-373b2a20b/"><img src="assets/icons/linkedinDark.svg"
                alt="Linkedin"></a>
        <a href="https://www.credly.com/badges/805ebbc8-41b3-4d75-92fa-37fc893a402d/public_url"><img
                src="assets/icons/awsDark.svg" alt="AWS"></a>
    </div>
    <a class="resume" href="">Check out Resume</a>
</div>